<footer class="footer-section bg-grey pt-60">
            <div class="container rtl">
                <div class="footer-items">
                    <div class="footer-item">
                        <div class="icon">
                            <img src="/img/icon/footer-1.png" alt="icon">
                        </div>
                        <div class="content">
                            <h4 class="title">ارسال رایگان</h4>
                            <span>سفارش بالای 65 تومان</span>
                        </div>
                    </div>
                    <div class="footer-item">
                        <div class="icon">
                            <img src="/img/icon/footer-2.png" alt="icon">
                        </div>
                        <div class="content">
                            <h4 class="title">بازگشت رایگان</h4>
                            <span>سیاست بازگشت رایگان 30 روزه</span>
                        </div>
                    </div>
                    <div class="footer-item">
                        <div class="icon">
                            <img src="/img/icon/footer-3.png" alt="icon">
                        </div>
                        <div class="content">
                            <h4 class="title">پرداخت های امن</h4>
                            <span>تمام کارت ها</span>
                        </div>
                    </div>
                    <div class="footer-item item-2">
                        <div class="icon">
                            <img src="/img/icon/footer-4.png" alt="icon">
                        </div>
                        <div class="content">
                            <h4 class="title">خدمات مشتری</h4>
                            <span>خدمات مشتری درجه یک</span>
                        </div>
                    </div>
                </div>
                <div class="row footer-widget-wrap pb-60">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <div class="widget-header">
                                <h3 class="widget-title">درباره فروشگاه</h3>
                            </div>
                            <div class="footer-contact">
                                <div class="icon"><i class="fa-sharp fa-solid fa-phone-rotary"></i></div>
                                <div class="content">
                                    <span>سوالی دارید؟ 24/7 با ما تماس بگیرید</span>
                                    <a href="tel:+989127661646">+989127661646</a>
                                </div>
                            </div>
                            <ul class="schedule-list">
                                <li><span>دوشنبه تا جمعه:</span>8:00 صبح تا 6:00 بعد از ظهر</li>
                                <li><span>شنبه:</span>8:00 صبح تا 6:00 بعد از ظهر</li>
                                <li><span>یکشنبه:</span> سرویس بسته</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="footer-widget">
                            <div class="widget-header">
                                <h3 class="widget-title">فروشگاه های ما</h3>
                            </div>
                            <ul class="footer-list">
                                <li><a href="contact.html">نیویورک</a></li>
                                <li><a href="contact.html">لوس آنجلس</a></li>
                                <li><a href="contact.html">شیکاکو</a></li>
                                <li><a href="contact.html">لاس وگاس</a></li>
                                <li><a href="contact.html">واشینگتن</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="footer-widget">
                            <div class="widget-header">
                                <h3 class="widget-title">دسته بندی های فروشگاه</h3>
                            </div>
                            <ul class="footer-list">
                                <li><a href="shop-grid.html">تازه رسیده ها</a></li>
                                <li><a href="shop-grid.html">پرفروش ترین</a></li>
                                <li><a href="shop-grid.html">سبزیجات</a></li>
                                <li><a href="shop-grid.html">گوشت تازه</a></li>
                                <li><a href="shop-grid.html">غذای دریایی تازه</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="footer-widget">
                            <div class="widget-header">
                                <h3 class="widget-title">لینک های مفید</h3>
                            </div>
                            <ul class="footer-list">
                                <li><a href="contact.html">سیاست حفظ حریم خصوصی</a></li>
                                <li><a href="contact.html">شرایط و ضوابط</a></li>
                                <li><a href="contact.html">با ما تماس بگیرید</a></li>
                                <li><a href="blog-grid.html">آخرین خبرها</a></li>
                                <li><a href="contact.html">نقشه های سایت ما</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <div class="widget-header">
                                <h3 class="widget-title">خبرنامه ما</h3>
                            </div>
                            <div class="news-form-wrap">
                                <p class="mb-20">برای دریافت به‌روزرسانی‌ها از جمله ورودی‌های جدید و سایر تخفیف‌ها،
                                    در
                                    فهرست
                                    پستی مشترک شوید</p>
                                <div class="footer-form mb-20">
                                    <form action="#" class="rr-subscribe-form">
                                        <input class="form-control" type="email" name="email" placeholder="آدرس ایمیل">
                                        <input type="hidden" name="action" value="mailchimpsubscribe">
                                        <button class="submit">عضویت</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                                <p class="mb-0">من می خواهم اخبار و پیشنهاد ویژه را دریافت کنم</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <div class="container">
                    <div class="row copyright-content">
                        <div class="col-lg-6">
                            <div class="footer-img-wrap">
                                <span>سیستم پرداخت:</span>
                                <div class="footer-img"><a href="#"><img src="/img/images/footer-img-1.png"
                                            alt="img"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <p>تمامی حقوق محفوظ <span>میباشد</span></p>
                        </div>
                    </div>
                </div>
            </div>
</footer>
<div id="scroll-percentage"><span id="scroll-percentage-value"></span></div>
