                <section class="page-header">
                    <div class="shape"><img src="/img/shapes/page-header-shape.png" alt="shape"></div>
                    <div class="container rtl">
                        <div class="page-header-content">
                            <h1 class="title"><%= preLoad%></h1>
                            <h4 class="sub-title">
                                <span class="home">
                                    <a href="/">
                                        <span>خانه</span>
                                    </a>
                                </span>
                                <span class="icon"><i class="fa-solid fa-angle-left"></i></span>
                                <span class="inner">
                                    <span><%= preLoad%></span>
                                </span>
                            </h4>
                        </div>
                    </div>
                </section>

