<!DOCTYPE html>
<html class="no-js" lang="en">
    
<!-- Mirrored from html.rrdevs.net/roiser/blog-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 09 Jun 2024 22:44:21 GMT -->

<!-- Mirrored from clinicafraa.ir/roiser/blog-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 27 Jun 2024 17:24:59 GMT -->
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">

        <!-- Site Title -->
        <title>قالب فروشگاهی HTML چند منظوره رویسر</title>

        <!-- Place favicon.ico in the root directory -->
        <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">

        <!-- CSS here -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/fontawesome.min.css">
        <link rel="stylesheet" href="/css/venobox.min.css">
        <link rel="stylesheet" href="/css/odometer.min.css">
        <link rel="stylesheet" href="/css/nice-select.css">
        <link rel="stylesheet" href="/css/swiper.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <!-- header-area-start -->
        <header class="header sticky-active rtl">
            <div class="top-bar">
                <div class="container">
                    <div class="top-bar-inner">
                        <div class="top-bar-left">
                            <ul class="top-left-list">
                                <li><a href="about.html">درباره ما</a></li>
                                <li><a href="contact.html">حساب من</a></li>
                                <li><a href="wishlist.html">علاقه مندی ها</a></li>
                                <li><a href="checkout.html">تسویه</a></li>
                            </ul>
                        </div>
                        <div class="top-bar-middle">
                            <span>ارسال رایگان برای تمامی سفارشات بالای 150 تومان</span>
                        </div>
                        <div class="top-bar-right">
                            <ul class="top-right-list">
                                <li><a href="contact.html">آدرس فروشگاه</a></li>
                                <li>
                                    <div class="nice-select select-control country" tabindex="0">
                                        <span class="current">انتخاب زبان</span>
                                        <ul class="list">
                                            <li data-value="" class="option selected focus">زبان</li>
                                            <li data-value="vdt" class="option">انگلیسی</li>
                                            <li data-value="can" class="option">فارسی</li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="nice-select select-control select-2 country" tabindex="0">
                                        <span class="current">واحد پول</span>
                                        <ul class="list">
                                            <li data-value="" class="option selected focus">نوع ارز</li>
                                            <li data-value="vdt" class="option">دلار</li>
                                            <li data-value="can" class="option">تومان</li>
                                            <li data-value="uk" class="option">لیر</li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-middle">
                <div class="container rtl">
                    <div class="header-middle-inner">
                        <div class="header-middle-left">
                            <div class="header-logo d-lg-block">
                                <a href="index.html">
                                    <img src="/img/logo/logo-1.png" alt="Logo">
                                </a>
                            </div>
                            <div class="category-form-wrap">
                                <div class="nice-select select-control country" tabindex="0">
                                    <span class="current">کل دسته بندی ها</span>
                                    <ul class="list">
                                        <li data-value="" class="option selected focus">همه دسته ها</li>
                                        <li data-value="vdt" class="option">مد و پوشاک</li>
                                        <li data-value="can" class="option">مواد غذایی</li>
                                        <li data-value="uk" class="option">مبلمان</li>
                                    </ul>
                                </div>
                                <form class="header-form" action="#">
                                    <input class="form-control" type="text" name="search" placeholder="دنبال چی هستی؟">
                                    <button class="submit rr-primary-btn">جستجو کنید</button>
                                </form>
                            </div>
                        </div>
                        <div class="header-middle-right">
                            <ul class="contact-item-list">
                                <li>
                                    <div class="content">
                                        <span>تماس با ما:</span>
                                        <a class="number" href="tel:+9127661646">09127661646</a>
                                    </div>
                                    <a href="#" class="icon">
                                        <i class="fa-regular fa-phone"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="wishlist.html" class="icon">
                                        <i class="fa-sharp fa-regular fa-heart"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="cart.html" class="icon">
                                        <i class="fa-light fa-bag-shopping"></i>
                                        <span>2</span>
                                    </a>
                                    <div class="content">
                                        <span>سبد خرید شما.</span>
                                        <h5 class="number">13.758.000 تومان</h5>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="primary-header">
                <div class="container">
                    <div class="primary-header-inner">
                        <div class="header-logo mobile-logo">
                            <a href="index.html">
                                <img src="/img/logo/logo-1.png" alt="Logo">
                            </a>
                        </div>
                        <div class="header-menu-wrap">
                            <div class="mobile-menu-items">
                                <ul>
                                    <li class="menu-item-has-children active">
                                        <a href="index.html">خانه</a>
                                        <ul>
                                            <li><a href="index.html">دمو مد و پوشاک</a></li>
                                            <li><a href="index-2.html">دمو مواد غذایی</a></li>
                                            <li><a href="index-3.html">دمو مبلمان</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="shop.html">فروشگاه</a>
                                        <ul>
                                            <li><a href="shop.html">فروشگاه اصلی</a></li>
                                            <li><a href="shop-grid.html">فروشگاه گرید</a></li>
                                            <li><a href="shop-details.html">جزئیات فروشگاه</a></li>
                                            <li><a href="cart.html">سبد خرید</a></li>
                                            <li><a href="wishlist.html">لیست علاقه مندی ها</a></li>
                                            <li><a href="checkout.html">صفحه پرداخت</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="shop-grid.html">زنانه</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid.html">مردانه</a>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">صفحات</a>
                                        <ul>
                                            <li><a href="about.html">درباره ما</a></li>
                                            <li><a href="login.html">ورود</a></li>
                                            <li><a href="register.html">عضویت</a></li>
                                            <li><a href="faq.html">سوالات متداول</a></li>
                                            <li><a href="error.html">خطا 404</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="blog-grid.html">بلاگ ها</a>
                                        <ul>
                                            <li><a href="blog-grid.html">بلاگ گرید</a></li>
                                            <li><a href="blog-grid-2.html">بلاگ لیست</a></li>
                                            <li><a href="blog-details.html">جزئیات بلاگ</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">ارتباط با ما</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.header-menu-wrap -->
                        <div class="header-right-wrap">
                            <div class="header-right">
                                <span>کد تخفیف 30 درصدی <span>Roz</span></span>
                                <div class="header-right-item">
                                    <a href="javascript:void(0)" class="mobile-side-menu-toggle"
                                        ><i class="fa-sharp fa-solid fa-bars"></i
                                    ></a>
                                </div>
                            </div>
                            <!-- /.header-right -->
                        </div>
                    </div>
                    <!-- /.primary-header-inner -->
                </div>
            </div>
        </header>
        <!-- /.Main Header -->

        <div id="popup-search-box">
            <div class="box-inner-wrap d-flex align-items-center">
                <form id="form" action="#" method="get" role="search">
                    <input id="popup-search" type="text" name="search" placeholder="Type keywords here...">
                </form>
                <div class="search-close"><i class="fa-sharp fa-regular fa-xmark"></i></div>
            </div>
        </div>
        <!-- /#popup-search-box -->

        <div class="mobile-side-menu rtl">
            <div class="side-menu-content">
                <div class="side-menu-head">
                    <a href='index.html'><img src="/img/logo/logo-1.png" alt="logo"></a>
                    <button class="mobile-side-menu-close"><i class="fa-regular fa-xmark"></i></button>
                </div>
                <div class="side-menu-wrap"></div>
                <ul class="side-menu-list">
                    <li><i class="fa-light fa-location-dot"></i>آدرس : <span>کرج، عظیمیه، میدان مهران</span></li>
                    <li><i class="fa-light fa-phone"></i>شماره تماس : <a href="tel:+01569896654">026345879541</a></li>
                    <li><i class="fa-light fa-envelope"></i>آدرس ایمیل : <a href="mailto:info@example.com">info@example.com</a></li>
                </ul>
            </div>
        </div>
        <!-- /.mobile-side-menu -->

        <div id="preloader">
            <div class="preloader-close">X</div>
            <div class="sk-three-bounce">
                <div class="sk-child sk-bounce1"></div>
                <div class="sk-child sk-bounce2"></div>
                <div class="sk-child sk-bounce3"></div>
            </div>
        </div>
        <!-- ./ preloader -->

        <section class="page-header">
            <div class="shape"><img src="/img/shapes/page-header-shape.png" alt="shape"></div>
            <div class="container rtl">
                <div class="page-header-content">
                    <h1 class="title">جزئیات بلاگ</h1>
                    <h4 class="sub-title">
                        <span class="home">
                            <a href="index.html">
                                <span>خانه</span>
                            </a>
                        </span>
                        <span class="icon"><i class="fa-solid fa-angle-left"></i></span>
                        <span class="inner">
                            <span>جزئیات بلاگ</span>
                        </span>
                    </h4>
                </div>
            </div>
        </section>
        <!-- ./ page-header -->

        <section class="blog-details pt-130 pb-130">
            <div class="container rtl">
                <div class="row gy-5">
                    <div class="col-lg-8 col-md-12">
                        <div class="blog-details-wrap">
                            <div class="blog-details-img">
                                <img src="/img/blog/blog-details-img.jpg" alt="blog">
                            </div>
                            <div class="blog-details-content-wrap">
                                <ul class="post-meta">
                                    <li><i class="fa-sharp fa-regular fa-clock"></i>25 فروردین 1403</li>
                                    <li><i class="fa-light fa-user"></i>مدرن فشن</li>
                                </ul>
                                <div class="blog-details-content">
                                    <h2 class="details-title mb-25">امروزه بهترین نوع پوشاک رو میبینیم</h2>
                                    <p class="mb-20">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیازلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                                    <blockquote class="mb-30">
                                        <div class="content">
                                            <p>“لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است”</p>
                                        </div>
                                    </blockquote>
                                    <p class="mb-30">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                                    <div class="details-img-wrap mt-40 mb-40">
                                        <img src="/img/blog/blog-details-img-1.png" alt="blog">
                                        <img src="/img/blog/blog-details-img-2.png" alt="blog">
                                    </div>
                                    <p class="mb-50">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک استلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                                </div>
                                <div class="tags">
                                    <div class="tag-left">
                                        <ul class="tag-list">
                                            <li><a href="#">فشن</a></li>
                                            <li><a href="#">پوشاک</a></li>
                                            <li><a href="#">مبلمان</a></li>
                                        </ul>
                                    </div>
                                    <div class="social-list-wrap">
                                        <h4 class="follow">مارا دنبال کنید:</h4>
                                        <ul class="social-list">
                                            <li>
                                                <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog-author-wrap">
                                    <div class="blog-author-item">
                                        <div class="author-img">
                                            <img src="/img/blog/author-img.png" alt="img">
                                        </div>
                                        <div class="content">
                                            <h3 class="name">درباره نویسنده</h3>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک استلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                                            <ul class="social-list">
                                                <li>
                                                    <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="comments-area">
                                    <div class="section-heading">
                                        <h2 class="section-title">نظرات (3)</h2>
                                    </div>
                                    <div class="comment-item">
                                        <div class="comment-thumb">
                                            <img src="/img/blog/comment-thumb-1.png" alt="author">
                                        </div>
                                        <div class="comment-info">
                                            <div class="comments-meta">
                                                <span><i class="fa-light fa-circle-user"></i>10 خرداد 1403</span>
                                            </div>
                                            <h3 class="author">آصف هاشمی </h3>
                                            <p>
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک استلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                                            </p>
                                            <button class="reply">پاسخ دهید</button>
                                        </div>
                                    </div>
                                    <div class="comment-item item-2">
                                        <div class="comment-thumb">
                                            <img src="/img/blog/comment-thumb-2.png" alt="author">
                                        </div>
                                        <div class="comment-info">
                                            <div class="comments-meta">
                                                <span><i class="fa-light fa-circle-user"></i>10 خرداد 1403</span>
                                            </div>
                                            <h3 class="author">آناهیتا دلپذیر </h3>
                                            <p>
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک استلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                                            </p>
                                            <button class="reply">پاسخ دهید</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./ comments-area -->
                                <div class="form-wrap pt-70">
                                    <div class="blog-contact-form">
                                        <h2 class="title">نظرات اضافه کنید</h2>
                                        <p>آدرس ایمیل شما منتشر نخواهد شد. فیلدهای الزامی مشخص شده اند *</p>
                                        <div class="request-form">
                                            <form action="#" method="post" id="ajax_contact" class="form-horizontal">
                                                <div class="form-group row">
                                                    <div class="col-md-6">
                                                        <div class="form-item">
                                                            <input type="text" id="fullname" name="fullname" class="form-control" placeholder="نام شما">
                                                            <div class="icon"><i class="fa-regular fa-user"></i></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-item">
                                                            <input type="email" id="email" name="email" class="form-control" placeholder="ایمیل شما">
                                                            <div class="icon"><i class="fa-sharp fa-regular fa-envelope"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-md-12">
                                                        <div class="form-item message-item">
                                                            <textarea id="message" name="message" cols="30" rows="5" class="form-control address" placeholder="پیام شما"></textarea>
                                                            <div class="icon"><i class="fa-light fa-messages"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="submit-btn">
                                                    <button id="submit" class="rr-primary-btn" type="submit">ارسال پیام</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ./ form-wrap -->
                        </div>
                    </div>
                    <!-- Sidebar Widgets -->
                    
                    <div class="col-lg-4">
                        <div class="sidebar-widget">
                            <div class="search-box">
                                <form action="https://html.rrdevs.net/roiser/contact.php" class="search-form">
                                    <input type="text" class="form-control" placeholder="جستجو">
                                </form>
                            </div>
                        </div>
                        <div class="sidebar-widget">
                            <h3 class="widget-title">دسته بندی</h3>
                            <ul class="sidebar-list">
                                <li>
                                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                    <label for="vehicle1"> آخرین خبر</label><br>
                                </li>
                                <li>
                                    <input type="checkbox" id="vehicle6" name="vehicle1" value="Bike">
                                    <label for="vehicle6"> بهترین های امروز</label><br>
                                </li>
                                <li>
                                    <input type="checkbox" id="vehicle3" name="vehicle1" value="Bike">
                                    <label for="vehicle3"> طراحی جدید</label><br>
                                </li>
                                <li>
                                    <input type="checkbox" id="vehicle4" name="vehicle1" value="Bike">
                                    <label for="vehicle4"> فشن ها</label><br>
                                </li>
                                <li>
                                    <input type="checkbox" id="vehicle5" name="vehicle1" value="Bike">
                                    <label for="vehicle5"> مبلمان</label><br>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-widget">
                            <h3 class="widget-title">آخرین پست ها</h3>
                            <div class="sidebar-post">
                                <img src="/img/blog/sidebar-thumb-1.png" alt="post">
                                <div class="post-content">
                                    <ul class="post-meta">
                                        <li><i class="fa-sharp fa-regular fa-clock"></i>05 دی 1403</li>
                                    </ul>
                                    <h3 class="title"><a href="#">استخدام تیم فروش مناسب در زمان مناسب</a></h3>
                                </div>
                            </div>
                            <div class="sidebar-post">
                                <img src="/img/blog/sidebar-thumb-2.png" alt="post">
                                <div class="post-content">
                                    <ul class="post-meta">
                                        <li><i class="fa-sharp fa-regular fa-clock"></i>05 دی 1403</li>
                                    </ul>
                                    <h3 class="title"><a href="#">استخدام تیم فروش مناسب در زمان مناسب</a></h3>
                                </div>
                            </div>
                            <div class="sidebar-post">
                                <img src="/img/blog/sidebar-thumb-3.png" alt="post">
                                <div class="post-content">
                                    <ul class="post-meta">
                                        <li><i class="fa-sharp fa-regular fa-clock"></i>05 دی 1403</li>
                                    </ul>
                                    <h3 class="title"><a href="#">استخدام تیم فروش مناسب در زمان مناسب</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-widget">
                            <h3 class="widget-title">پست های اینستاگرام</h3>
                            <div class="blog-gallery-wrap">
                                <div class="gallary-img">
                                    <a href="/img/blog/grid-post-3.png" class="img-popup"><img src="/img/blog/blog-gallery-1.png" alt="img"></a>
                                </div>
                                <div class="gallary-img">
                                    <a href="/img/blog/grid-post-3.png" class="img-popup"><img src="/img/blog/blog-gallery-2.png" alt="img"></a>
                                </div>
                                <div class="gallary-img">
                                    <a href="/img/blog/grid-post-3.png" class="img-popup"><img src="/img/blog/blog-gallery-3.png" alt="img"></a>
                                </div>
                                <div class="gallary-img">
                                    <a href="/img/blog/grid-post-3.png" class="img-popup"><img src="/img/blog/blog-gallery-4.png" alt="img"></a>
                                </div>
                                <div class="gallary-img">
                                    <a href="/img/blog/grid-post-3.png" class="img-popup"><img src="/img/blog/blog-gallery-5.png" alt="img"></a>
                                </div>
                                <div class="gallary-img">
                                    <a href="/img/blog/grid-post-3.png" class="img-popup"><img src="/img/blog/blog-gallery-6.png" alt="img"></a>
                                </div>
                                <div class="gallary-img">
                                    <a href="/img/blog/grid-post-3.png" class="img-popup"><img src="/img/blog/blog-gallery-7.png" alt="img"></a>
                                </div>
                                <div class="gallary-img">
                                    <a href="/img/blog/grid-post-3.png" class="img-popup"><img src="/img/blog/blog-gallery-8.png" alt="img"></a>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-widget sticky-widget">
                            <h3 class="widget-title">هشتک ها</h3>
                            <ul class="tags">
                                <li><a href="#">طراحی سه بعدی</a></li>
                                <li><a href="#">طراحی محصول</a></li>
                                <li><a href="#">راهنمایی</a></li>
                                <li><a href="#">فروش بیشتر</a></li>
                                <li><a href="#">طراحی حرفه ای</a></li>
                                <li><a href="#">برنامه نویسی</a></li>
                                <li><a href="#">سرعت</a></li>
                                <li><a href="#">برترین</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ./ Blog Details -->

        <footer class="footer-section bg-grey pt-60">
            <div class="container rtl">
                <div class="footer-items">
                    <div class="footer-item">
                        <div class="icon">
                            <img src="/img/icon/footer-1.png" alt="icon">
                        </div>
                        <div class="content">
                            <h4 class="title">ارسال رایگان</h4>
                            <span>سفارش بالای 65 تومان</span>
                        </div>
                    </div>
                    <div class="footer-item">
                        <div class="icon">
                            <img src="/img/icon/footer-2.png" alt="icon">
                        </div>
                        <div class="content">
                            <h4 class="title">بازگشت رایگان</h4>
                            <span>سیاست بازگشت رایگان 30 روزه</span>
                        </div>
                    </div>
                    <div class="footer-item">
                        <div class="icon">
                            <img src="/img/icon/footer-3.png" alt="icon">
                        </div>
                        <div class="content">
                            <h4 class="title">پرداخت های امن</h4>
                            <span>تمام کارت ها</span>
                        </div>
                    </div>
                    <div class="footer-item item-2">
                        <div class="icon">
                            <img src="/img/icon/footer-4.png" alt="icon">
                        </div>
                        <div class="content">
                            <h4 class="title">خدمات مشتری</h4>
                            <span>خدمات مشتری درجه یک</span>
                        </div>
                    </div>
                </div>
                <div class="row footer-widget-wrap pb-60">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <div class="widget-header">
                                <h3 class="widget-title">درباره فروشگاه</h3>
                            </div>
                            <div class="footer-contact">
                                <div class="icon"><i class="fa-sharp fa-solid fa-phone-rotary"></i></div>
                                <div class="content">
                                    <span>سوالی دارید؟ 24/7 با ما تماس بگیرید</span>
                                    <a href="tel:+989127661646">+989127661646</a>
                                </div>
                            </div>
                            <ul class="schedule-list">
                                <li><span>دوشنبه تا جمعه:</span>8:00 صبح تا 6:00 بعد از ظهر</li>
                                <li><span>شنبه:</span>8:00 صبح تا 6:00 بعد از ظهر</li>
                                <li><span>یکشنبه:</span> سرویس بسته</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="footer-widget">
                            <div class="widget-header">
                                <h3 class="widget-title">فروشگاه های ما</h3>
                            </div>
                            <ul class="footer-list">
                                <li><a href="contact.html">نیویورک</a></li>
                                <li><a href="contact.html">لوس آنجلس</a></li>
                                <li><a href="contact.html">شیکاکو</a></li>
                                <li><a href="contact.html">لاس وگاس</a></li>
                                <li><a href="contact.html">واشینگتن</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="footer-widget">
                            <div class="widget-header">
                                <h3 class="widget-title">دسته بندی های فروشگاه</h3>
                            </div>
                            <ul class="footer-list">
                                <li><a href="shop-grid.html">تازه رسیده ها</a></li>
                                <li><a href="shop-grid.html">پرفروش ترین</a></li>
                                <li><a href="shop-grid.html">سبزیجات</a></li>
                                <li><a href="shop-grid.html">گوشت تازه</a></li>
                                <li><a href="shop-grid.html">غذای دریایی تازه</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="footer-widget">
                            <div class="widget-header">
                                <h3 class="widget-title">لینک های مفید</h3>
                            </div>
                            <ul class="footer-list">
                                <li><a href="contact.html">سیاست حفظ حریم خصوصی</a></li>
                                <li><a href="contact.html">شرایط و ضوابط</a></li>
                                <li><a href="contact.html">با ما تماس بگیرید</a></li>
                                <li><a href="blog-grid.html">آخرین خبرها</a></li>
                                <li><a href="contact.html">نقشه های سایت ما</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <div class="widget-header">
                                <h3 class="widget-title">خبرنامه ما</h3>
                            </div>
                            <div class="news-form-wrap">
                                <p class="mb-20">برای دریافت به‌روزرسانی‌ها از جمله ورودی‌های جدید و سایر تخفیف‌ها، در فهرست پستی مشترک شوید</p>
                                <div class="footer-form mb-20">
                                    <form action="#" class="rr-subscribe-form">
                                        <input class="form-control" type="email" name="email" placeholder="آدرس ایمیل">
                                        <input type="hidden" name="action" value="mailchimpsubscribe">
                                        <button class="submit">عضویت</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                                <p class="mb-0">من می خواهم اخبار و پیشنهاد ویژه را دریافت کنم</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <div class="container">
                    <div class="row copyright-content">
                        <div class="col-lg-6">
                            <div class="footer-img-wrap">
                                <span>سیستم پرداخت:</span>
                                <div class="footer-img"><a href="#"><img src="/img/images/footer-img-1.png" alt="img"></a></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                             <p>تمامی حقوق محفوظ <span>میباشد</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ./ footer-section -->

        <div id="scroll-percentage"><span id="scroll-percentage-value"></span></div>
        <!--scrollup-->

        <!-- JS here -->
        <script src="/js/vendor/jquary-3.6.0.min.js"></script>
        <script src="/js/vendor/bootstrap-bundle.js"></script>
        <script src="/js/vendor/imagesloaded-pkgd.js"></script>
        <script src="/js/vendor/waypoints.min.js"></script>
        <script src="/js/vendor/venobox.min.js"></script>
        <script src="/js/vendor/odometer.min.js"></script>
        <script src="/js/vendor/meanmenu.js"></script>
        <script src="/js/vendor/smooth-scroll.js"></script>
        <script src="/js/vendor/jquery.isotope.js"></script>
        <script src="/js/vendor/wow.min.js"></script>
        <script src="/js/vendor/swiper.min.js"></script>
        <script src="/js/vendor/split-type.min.js"></script>
        <script src="/js/vendor/gsap.min.js"></script>
        <script src="/js/vendor/scroll-trigger.min.js"></script>
        <script src="/js/vendor/nice-select.js"></script>
        <script src="/js/ajax-form.js"></script>
        <script src="/js/contact.js"></script>
        <script src="/js/main.js"></script>
    </body>

<!-- Mirrored from html.rrdevs.net/roiser/blog-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 09 Jun 2024 22:44:24 GMT -->

<!-- Mirrored from clinicafraa.ir/roiser/blog-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 27 Jun 2024 17:25:01 GMT -->
</html>
