<!DOCTYPE html>
<html class="no-js" lang="en">
<%- include('./partials/_head.ejs')%>

    <body>
        <!-- header-area-start -->
        <%- include('./partials/_header.ejs')%>
            <!--serch section-->
            <%- include('./partials/_search.ejs')%>
                <!-- /.mobile-side-menu -->
                <%- include('./partials/_mobileSideShow.ejs')%>

                    <div id="preloader">
                        <div class="preloader-close">X</div>
                        <div class="sk-three-bounce">
                            <div class="sk-child sk-bounce1"></div>
                            <div class="sk-child sk-bounce2"></div>
                            <div class="sk-child sk-bounce3"></div>
                        </div>
                    </div>
                    <!-- ./ preloader -->
                    <section class="hero-section">
                        <div class="overlay"></div>
                        <div class="hero-images">
                            <div class="hero-people"><img src="/img/images/hero-peoples.png" alt="img"></div>
                            <div class="hero-shape"><img src="/img/shapes/hero-shape-1.png" alt="shape"></div>
                            <div class="hero-shape-2"><img src="/img/shapes/hero-shape-2.png" alt="shape"></div>
                        </div>
                        <div class="container rtl">
                            <div class="row">
                                <div class="col-xl-8"></div>
                                <div class="col-xl-4 col-lg-12">
                                    <div class="hero-content">
                                        <h4 class="sub-title">کالکشن فصل برند های روز</h4>
                                        <h2 class="title">مجموعه فوق العاده <br>برای زنان</h2>
                                        <h5 class="price"><span> شروع از </span>500 هزار تومان</h5>
                                        <a href="shop.html" class="rr-primary-btn">مشاهده کالکشن</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- ./ hero-section -->
                    <section class="category-section pt-100 pb-100">
                        <div class="container rtl">
                            <div class="category-top heading-space space-border">
                                <div class="section-heading mb-0">
                                    <h2 class="section-title">بهترین برای دسته های شما</h2>
                                    <p>بیش از 29 دسته بندی و هزاران محصول </p>
                                </div>
                                <!-- Carousel Arrows -->
                                <div class="swiper-arrow">
                                    <div class="swiper-nav swiper-next"><i class="fa-regular fa-arrow-right"></i></div>
                                    <div class="swiper-nav swiper-prev"><i class="fa-regular fa-arrow-left"></i></div>
                                </div>
                            </div>
                            <div class="category-carousel swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="category-item">
                                            <div class="category-img">
                                                <img src="/img/images/cate-1.png" alt="category">
                                            </div>
                                            <h3 class="title"><a href="shop.html">پوشاک زنانه</a></h3>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="category-item">
                                            <div class="category-img">
                                                <img src="/img/images/cate-2.png" alt="category">
                                            </div>
                                            <h3 class="title"><a href="shop.html">کالکشن کفش</a></h3>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="category-item">
                                            <div class="category-img">
                                                <img src="/img/images/cate-3.png" alt="category">
                                            </div>
                                            <h3 class="title"><a href="shop.html">کالکشن کیف</a></h3>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="category-item">
                                            <div class="category-img">
                                                <img src="/img/images/cate-4.png" alt="category">
                                            </div>
                                            <h3 class="title"><a href="shop.html">مجموعه ساعت</a></h3>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="category-item">
                                            <div class="category-img">
                                                <img src="/img/images/cate-5.png" alt="category">
                                            </div>
                                            <h3 class="title"><a href="shop.html">تجهیزات جانبی</a></h3>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="category-item">
                                            <div class="category-img">
                                                <img src="/img/images/cate-6.png" alt="category">
                                            </div>
                                            <h3 class="title"><a href="shop.html">عینک آفتابی</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- ./ category-section -->

                    <section class="discount-section overflow-hidden pb-100 rtl">
                        <div class="row gy-lg-0 gy-4">
                            <div class="col-lg-4 col-md-6">
                                <div class="discount-item item-1">
                                    <div class="product-overlay"></div>
                                    <div class="shape"><img src="/img/shapes/dis-shpe.png" alt="shape"></div>
                                    <div class="content">
                                        <span>50% تخفیف ویژه</span>
                                        <h3 class="title">آخرین ترندهای مردانه <br> این فصل</h3>
                                        <a href="shop.html"><i class="fa-regular fa-plus"></i>مشاهده کالکشن</a>
                                    </div>
                                    <div class="men"><img src="/img/images/discount-men-1.png" alt="img"></div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="discount-item">
                                    <div class="product-overlay"></div>
                                    <div class="shape"><img src="/img/shapes/dis-shpe.png" alt="shape"></div>
                                    <div class="men"><img src="/img/images/discount-men-2.png" alt="img"></div>
                                    <div class="content">
                                        <span>50% تخفیف ویژه</span>
                                        <h3 class="title">جدیدترین پوشاک گودکان <br>در این فصل</h3>
                                        <a href="shop.html"><i class="fa-regular fa-plus"></i>مشاهده کالکشن</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="discount-item">
                                    <div class="product-overlay"></div>
                                    <div class="shape"><img src="/img/shapes/dis-shpe.png" alt="shape"></div>
                                    <div class="men"><img src="/img/images/discount-men-3.png" alt="img"></div>
                                    <div class="content">
                                        <span>50% تخفیف ویژه</span>
                                        <h3 class="title">آخرین مد های زنانه <br>فصل جدید</h3>
                                        <a href="shop.html"><i class="fa-regular fa-plus"></i>مشاهده کالکشن</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- ./ discount-section -->

                    <section class="fashion-section pb-100">
                        <div class="container rtl">
                            <div class="category-top heading-space space-border">
                                <div class="section-heading mb-0">
                                    <h2 class="section-title">استایل مورد علاقتو ببین</h2>
                                    <p>بیش از 29 دسته بندی و هزاران محصول</p>
                                </div>
                                <!-- Carousel Arrows -->
                                <div class="swiper-arrow">
                                    <div class="swiper-nav swiper-next"><i class="fa-regular fa-arrow-right"></i></div>
                                    <div class="swiper-nav swiper-prev"><i class="fa-regular fa-arrow-left"></i></div>
                                </div>
                            </div>
                            <div class="shop-carousel swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="shop-item">
                                            <div class="shop-thumb">
                                                <div class="overlay"></div>
                                                <img src="/img/shop/shop-1.png" alt="shop">
                                                <span class="sale">جدید</span>
                                                <ul class="shop-list">
                                                    <li><a href="cart.html"><i
                                                                class="fa-regular fa-cart-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-light fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fa-light fa-eye"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="shop-content">
                                                <span class="category">Levi’s برند</span>
                                                <h3 class="title"><a href="shop-details.html">لباس مجلسی مونیکا
                                                        دیارا</a>
                                                </h3>
                                                <div class="review-wrap">
                                                    <ul class="review">
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                    </ul>
                                                    <span>(15 نظرات)</span>
                                                </div>
                                                <span class="price"> <span class="offer">250 تومان</span>157
                                                    تومان</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="shop-item">
                                            <div class="shop-thumb">
                                                <div class="overlay"></div>
                                                <img src="/img/shop/shop-2.png" alt="shop">
                                                <span class="sale">جدید</span>
                                                <ul class="shop-list">
                                                    <li><a href="cart.html"><i
                                                                class="fa-regular fa-cart-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-light fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fa-light fa-eye"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="shop-content">
                                                <span class="category">Levi’s برند</span>
                                                <h3 class="title"><a href="shop-details.html">صندل گل مشکی اونیما</a>
                                                </h3>
                                                <div class="review-wrap">
                                                    <ul class="review">
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                    </ul>
                                                    <span>(15 نظرات)</span>
                                                </div>
                                                <span class="price"> <span class="offer">450 تومان</span>257
                                                    تومان</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="shop-item">
                                            <div class="shop-thumb">
                                                <div class="overlay"></div>
                                                <img src="/img/shop/shop-3.png" alt="shop">
                                                <span class="sale">جدید</span>
                                                <ul class="shop-list">
                                                    <li><a href="cart.html"><i
                                                                class="fa-regular fa-cart-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-light fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fa-light fa-eye"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="shop-content">
                                                <span class="category">Levi’s برند</span>
                                                <h3 class="title"><a href="shop-details.html">ژاکت پانچو بین المللی</a>
                                                </h3>
                                                <div class="review-wrap">
                                                    <ul class="review">
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                    </ul>
                                                    <span>(15 نظرات)</span>
                                                </div>
                                                <span class="price"> <span class="offer">550 تومان</span>427
                                                    تومان</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="shop-item">
                                            <div class="shop-thumb">
                                                <div class="overlay"></div>
                                                <img src="/img/shop/shop-4.png" alt="shop">
                                                <span class="sale">جدید</span>
                                                <ul class="shop-list">
                                                    <li><a href="cart.html"><i
                                                                class="fa-regular fa-cart-shopping"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa-light fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fa-light fa-eye"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="shop-content">
                                                <span class="category">Levi’s برند</span>
                                                <h3 class="title"><a href="shop-details.html">کیف پنبه ای اداری ضد
                                                        آب</a>
                                                </h3>
                                                <div class="review-wrap">
                                                    <ul class="review">
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                    </ul>
                                                    <span>(15 نظرات)</span>
                                                </div>
                                                <span class="price"> <span class="offer">350 تومان</span>250
                                                    تومان</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- ./ fashion-section -->

                    <section class="collect-section pb-100">
                        <div class="container rtl">
                            <div class="row gy-lg-0 gy-4">
                                <div class="col-lg-6">
                                    <div class="collect-item">
                                        <span>+1500 محصول</span>
                                        <h3 class="title">مجموعه زنان</h3>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ <br> لورم ایپسوم
                                            متن
                                            ساختگی
                                            با
                                        </p>
                                        <ul class="collect-list">
                                            <li><a href="shop.html">بلیزر</a></li>
                                            <li><a href="shop.html">بلوز و پیراهن</a></li>
                                            <li><a href="shop.html">کلاه مجلسی</a></li>
                                            <li><a href="shop.html">شولوار جین</a></li>
                                            <li><a href="shop.html">بافتنی</a></li>
                                            <li><a href="shop.html">شلوار</a></li>
                                            <li><a href="shop.html">دامن</a></li>
                                            <li><a href="shop.html">کت و شلوار</a></li>
                                            <li><a href="shop.html">سویشرت و هودی</a></li>
                                            <li><a href="shop.html">تی شرت</a></li>
                                            <li><a href="shop.html">تاپ و بادی</a></li>
                                        </ul>
                                        <div class="men"><img src="/img/images/discount-1.png" alt="discount"></div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="collect-items">
                                        <div class="collect-item item-1">
                                            <span>+1500 محصول</span>
                                            <h3 class="title">کالکشن مردانه</h3>
                                            <ul class="collect-list">
                                                <li><a href="shop.html">بلیزر</a></li>
                                                <li><a href="shop.html">بلوز و پیراهن</a></li>
                                                <li><a href="shop.html">کلاه</a></li>
                                                <li><a href="shop.html">شلوار جین</a></li>
                                            </ul>
                                            <div class="men"><img src="/img/images/discount-2.png" alt="discount"></div>
                                        </div>
                                        <div class="collect-item item-2">
                                            <span>+1500 محصول</span>
                                            <h3 class="title">بهترین اکسسوری</h3>
                                            <ul class="collect-list">
                                                <li><a href="shop.html">بلیزر</a></li>
                                                <li><a href="shop.html">بلوز و پیراهن</a></li>
                                                <li><a href="shop.html">کلاه</a></li>
                                                <li><a href="shop.html">شلوار جین</a></li>
                                            </ul>
                                            <div class="men"><img src="/img/images/discount-3.png" alt="discount"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- ./ collect-section -->

                    <section class="cta-section pt-100 pb-100" data-background="/img/bg-img/cta-bg.jpg">
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="cta-wrap text-center">
                                <span>مجموعه زنانه بهار تابستان 22</span>
                                <h2 class="title">-15% تخفیف <br>همه اینجا</h2>
                                <a href="shop.html" class="rr-primary-btn cta-btn">مشاهده مجموعه ها</a>
                            </div>
                        </div>
                    </section>
                    <!-- ./ cta-section -->

                    <div class="sponsor-section pt-100">
                        <div class="container">
                            <div class="row sponsor-wrap">
                                <div class="sponsor-item bd-right bd-bottom">
                                    <a href="#"><img src="/img/sponsor/sponsor-1.png" alt="img"></a>
                                </div>
                                <div class="sponsor-item bd-right bd-bottom">
                                    <a href="#"><img src="/img/sponsor/sponsor-2.png" alt="img"></a>
                                </div>
                                <div class="sponsor-item bd-right bd-bottom">
                                    <a href="#"><img src="/img/sponsor/sponsor-3.png" alt="img"></a>
                                </div>
                                <div class="sponsor-item bd-right bd-bottom">
                                    <a href="#"><img src="/img/sponsor/sponsor-4.png" alt="img"></a>
                                </div>
                                <div class="sponsor-item bd-bottom">
                                    <a href="#"><img src="/img/sponsor/sponsor-5.png" alt="img"></a>
                                </div>
                                <div class="sponsor-item bd-right">
                                    <a href="#"><img src="/img/sponsor/sponsor-6.png" alt="img"></a>
                                </div>
                                <div class="sponsor-item bd-right">
                                    <a href="#"><img src="/img/sponsor/sponsor-7.png" alt="img"></a>
                                </div>
                                <div class="sponsor-item bd-right">
                                    <a href="#"><img src="/img/sponsor/sponsor-8.png" alt="img"></a>
                                </div>
                                <div class="sponsor-item bd-right">
                                    <a href="#"><img src="/img/sponsor/sponsor-9.png" alt="img"></a>
                                </div>
                                <div class="sponsor-item">
                                    <a href="#"><img src="/img/sponsor/sponsor-10.png" alt="img"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./ sponsor-section -->

                    <section class="deal-section pt-100 pb-100">
                        <div class="container rtl">
                            <div class="row deal-wrap align-items-center">
                                <div class="shape"><img src="/img/shapes/deal-shape.png" alt="shape"></div>
                                <div class="col-xl-5 col-lg-12">
                                    <div class="deal-content">
                                        <div class="section-heading mb-0">
                                            <h2 class="section-title">پیشنهادات امروز</h2>
                                            <p>طرح اوریگامی صورتی شیک سه نوع نمای بعدی و <br>همکاری دکوراسیون عالی برای
                                                افزودن
                                                وسایل
                                                تزئینی...</p>
                                        </div>
                                        <div class="deal-info">
                                            <div class="icon">
                                                <img src="/img/icon/deal-icon.png" alt="icon">
                                            </div>
                                            <div class="content">
                                                <p>پیشنهاد زمان محدود قرارداد منقضی خواهد شد <br> یک 18 آگوست 2024 </p>
                                            </div>
                                        </div>
                                        <a href="shop.html" class="rr-primary-btn deal-btn">مشاهده همه مجموعه ها</a>
                                    </div>
                                </div>
                                <div class="col-xl-7 col-lg-12">
                                    <div class="row gy-md-0 gy-4">
                                        <div class="col-md-6">
                                            <div class="shop-item deal-shop">
                                                <div class="shop-thumb">
                                                    <div class="overlay"></div>
                                                    <img src="/img/shop/shop-5.jpg" alt="shop">
                                                    <span class="sale">جدید</span>
                                                    <ul class="shop-list">
                                                        <li><a href="#"><i class="fa-regular fa-cart-shopping"></i></a>
                                                        </li>
                                                        <li><a href="#"><i class="fa-light fa-heart"></i></a></li>
                                                        <li><a href="#"><i class="fa-light fa-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="shop-content">
                                                    <span class="category">Levi’s برند</span>
                                                    <h3 class="title"><a href="shop-details.html">لباس مجلسی مونیکا
                                                            دیارا</a>
                                                    </h3>
                                                    <div class="review-wrap">
                                                        <ul class="review">
                                                            <li><i class="fa-solid fa-star"></i></li>
                                                            <li><i class="fa-solid fa-star"></i></li>
                                                            <li><i class="fa-solid fa-star"></i></li>
                                                            <li><i class="fa-solid fa-star"></i></li>
                                                            <li><i class="fa-solid fa-star"></i></li>
                                                        </ul>
                                                        <span>(15 نظرات)</span>
                                                    </div>
                                                    <span class="price"> <span class="offer">250 تومان</span>157
                                                        تومان</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="shop-item deal-shop">
                                                <div class="shop-thumb">
                                                    <div class="overlay"></div>
                                                    <img src="/img/shop/shop-6.jpg" alt="shop">
                                                    <span class="sale">جدید</span>
                                                    <ul class="shop-list">
                                                        <li><a href="#"><i class="fa-regular fa-cart-shopping"></i></a>
                                                        </li>
                                                        <li><a href="#"><i class="fa-light fa-heart"></i></a></li>
                                                        <li><a href="#"><i class="fa-light fa-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="shop-content">
                                                    <span class="category">Levi’s برند</span>
                                                    <h3 class="title"><a href="shop-details.html">صندل گل مشکی
                                                            اونیما</a>
                                                    </h3>
                                                    <div class="review-wrap">
                                                        <ul class="review">
                                                            <li><i class="fa-solid fa-star"></i></li>
                                                            <li><i class="fa-solid fa-star"></i></li>
                                                            <li><i class="fa-solid fa-star"></i></li>
                                                            <li><i class="fa-solid fa-star"></i></li>
                                                            <li><i class="fa-solid fa-star"></i></li>
                                                        </ul>
                                                        <span>(15 نظرات)</span>
                                                    </div>
                                                    <span class="price"> <span class="offer">450 تومان</span>257
                                                        تومان</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- ./ deal-section -->

                    <section class="blog-section pb-100">
                        <div class="container rtl">
                            <div class="section-heading text-center">
                                <h2 class="section-title mb-0">آخرین بینش خبری ما</h2>
                            </div>
                            <div class="row gy-lg-0 gy-4 justify-content-center">
                                <div class="col-lg-4 col-md-6">
                                    <div class="post-card">
                                        <div class="post-thumb">
                                            <img src="/img/blog/post-1.jpg" alt="post">
                                        </div>
                                        <div class="post-content-wrap">
                                            <div class="post-content">
                                                <ul class="post-meta">
                                                    <li><i class="fa-sharp fa-solid fa-calendar-days"></i>3 نظر</li>
                                                    <li><i class="fa-regular fa-tag"></i>اخبار روز</li>
                                                </ul>
                                                <h3 class="title"><a href="blog-details.html">مد در اطراف: بررسی تأثیرات
                                                        فرهنگی</a>
                                                </h3>
                                            </div>
                                            <div class="post-bottom">
                                                <a href="blog-details.html" class="read-more">بیشتر بدانید<i
                                                        class="fa-regular fa-arrow-left"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="post-card">
                                        <div class="post-thumb">
                                            <img src="/img/blog/post-2.jpg" alt="post">
                                        </div>
                                        <div class="post-content-wrap">
                                            <div class="post-content">
                                                <ul class="post-meta">
                                                    <li><i class="fa-sharp fa-solid fa-calendar-days"></i>3 نظر</li>
                                                    <li><i class="fa-regular fa-tag"></i>اخبار روز</li>
                                                </ul>
                                                <h3 class="title"><a href="blog-details.html">پذیرش مد اخلاقی و سازگار
                                                        با
                                                        محیط
                                                        زیست</a>
                                                </h3>
                                            </div>
                                            <div class="post-bottom">
                                                <a href="blog-details.html" class="read-more">بیشتر بدانید<i
                                                        class="fa-regular fa-arrow-left"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="post-card">
                                        <div class="post-thumb">
                                            <img src="/img/blog/post-3.jpg" alt="post">
                                        </div>
                                        <div class="post-content-wrap">
                                            <div class="post-content">
                                                <ul class="post-meta">
                                                    <li><i class="fa-sharp fa-solid fa-calendar-days"></i>3 نظر</li>
                                                    <li><i class="fa-regular fa-tag"></i>اخبار روز</li>
                                                </ul>
                                                <h3 class="title"><a href="blog-details.html">چگونه ماشین خود را برای
                                                        هالووین
                                                        تزئین
                                                        کنیم</a></h3>
                                            </div>
                                            <div class="post-bottom">
                                                <a href="blog-details.html" class="read-more">بیشتر بدانید<i
                                                        class="fa-regular fa-arrow-left"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- ./ blog-section -->

                    <footer class="footer-section bg-grey pt-60">
                        <div class="container rtl">
                            <div class="footer-items">
                                <div class="footer-item">
                                    <div class="icon">
                                        <img src="/img/icon/footer-1.png" alt="icon">
                                    </div>
                                    <div class="content">
                                        <h4 class="title">ارسال رایگان</h4>
                                        <span>سفارش بالای 65 تومان</span>
                                    </div>
                                </div>
                                <div class="footer-item">
                                    <div class="icon">
                                        <img src="/img/icon/footer-2.png" alt="icon">
                                    </div>
                                    <div class="content">
                                        <h4 class="title">بازگشت رایگان</h4>
                                        <span>سیاست بازگشت رایگان 30 روزه</span>
                                    </div>
                                </div>
                                <div class="footer-item">
                                    <div class="icon">
                                        <img src="/img/icon/footer-3.png" alt="icon">
                                    </div>
                                    <div class="content">
                                        <h4 class="title">پرداخت های امن</h4>
                                        <span>تمام کارت ها</span>
                                    </div>
                                </div>
                                <div class="footer-item item-2">
                                    <div class="icon">
                                        <img src="/img/icon/footer-4.png" alt="icon">
                                    </div>
                                    <div class="content">
                                        <h4 class="title">خدمات مشتری</h4>
                                        <span>خدمات مشتری درجه یک</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row footer-widget-wrap pb-60">
                                <div class="col-lg-3 col-md-6">
                                    <div class="footer-widget">
                                        <div class="widget-header">
                                            <h3 class="widget-title">درباره فروشگاه</h3>
                                        </div>
                                        <div class="footer-contact">
                                            <div class="icon"><i class="fa-sharp fa-solid fa-phone-rotary"></i></div>
                                            <div class="content">
                                                <span>سوالی دارید؟ 24/7 با ما تماس بگیرید</span>
                                                <a href="tel:+989127661646">+989127661646</a>
                                            </div>
                                        </div>
                                        <ul class="schedule-list">
                                            <li><span>دوشنبه تا جمعه:</span>8:00 صبح تا 6:00 بعد از ظهر</li>
                                            <li><span>شنبه:</span>8:00 صبح تا 6:00 بعد از ظهر</li>
                                            <li><span>یکشنبه:</span> سرویس بسته</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6">
                                    <div class="footer-widget">
                                        <div class="widget-header">
                                            <h3 class="widget-title">فروشگاه های ما</h3>
                                        </div>
                                        <ul class="footer-list">
                                            <li><a href="contact.html">نیویورک</a></li>
                                            <li><a href="contact.html">لوس آنجلس</a></li>
                                            <li><a href="contact.html">شیکاکو</a></li>
                                            <li><a href="contact.html">لاس وگاس</a></li>
                                            <li><a href="contact.html">واشینگتن</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6">
                                    <div class="footer-widget">
                                        <div class="widget-header">
                                            <h3 class="widget-title">دسته بندی های فروشگاه</h3>
                                        </div>
                                        <ul class="footer-list">
                                            <li><a href="shop-grid.html">تازه رسیده ها</a></li>
                                            <li><a href="shop-grid.html">پرفروش ترین</a></li>
                                            <li><a href="shop-grid.html">سبزیجات</a></li>
                                            <li><a href="shop-grid.html">گوشت تازه</a></li>
                                            <li><a href="shop-grid.html">غذای دریایی تازه</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6">
                                    <div class="footer-widget">
                                        <div class="widget-header">
                                            <h3 class="widget-title">لینک های مفید</h3>
                                        </div>
                                        <ul class="footer-list">
                                            <li><a href="contact.html">سیاست حفظ حریم خصوصی</a></li>
                                            <li><a href="contact.html">شرایط و ضوابط</a></li>
                                            <li><a href="contact.html">با ما تماس بگیرید</a></li>
                                            <li><a href="blog-grid.html">آخرین خبرها</a></li>
                                            <li><a href="contact.html">نقشه های سایت ما</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="footer-widget">
                                        <div class="widget-header">
                                            <h3 class="widget-title">خبرنامه ما</h3>
                                        </div>
                                        <div class="news-form-wrap">
                                            <p class="mb-20">برای دریافت به‌روزرسانی‌ها از جمله ورودی‌های جدید و سایر
                                                تخفیف‌ها،
                                                در
                                                فهرست
                                                پستی مشترک شوید</p>
                                            <div class="footer-form mb-20">
                                                <form action="#" class="rr-subscribe-form">
                                                    <input class="form-control" type="email" name="email"
                                                        placeholder="آدرس ایمیل">
                                                    <input type="hidden" name="action" value="mailchimpsubscribe">
                                                    <button class="submit">عضویت</button>
                                                    <div class="clearfix"></div>
                                                </form>
                                            </div>
                                            <p class="mb-0">من می خواهم اخبار و پیشنهاد ویژه را دریافت کنم</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="copyright-area">
                            <div class="container">
                                <div class="row copyright-content">
                                    <div class="col-lg-6">
                                        <div class="footer-img-wrap">
                                            <span>سیستم پرداخت:</span>
                                            <div class="footer-img"><a href="#"><img src="/img/images/footer-img-1.png"
                                                        alt="img"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <p>طراحی و توسعه توسط <span>ایران کد</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                    <!-- ./ footer-section -->

                    <div id="scroll-percentage"><span id="scroll-percentage-value"></span></div>
                    <!--scrollup-->

                    <!-- JS here -->
                    <script src="/js/vendor/jquary-3.6.0.min.js"></script>
                    <script src="/js/vendor/bootstrap-bundle.js"></script>
                    <script src="/js/vendor/imagesloaded-pkgd.js"></script>
                    <script src="/js/vendor/waypoints.min.js"></script>
                    <script src="/js/vendor/venobox.min.js"></script>
                    <script src="/js/vendor/odometer.min.js"></script>
                    <script src="/js/vendor/meanmenu.js"></script>
                    <script src="/js/vendor/smooth-scroll.js"></script>
                    <script src="/js/vendor/jquery.isotope.js"></script>
                    <script src="/js/vendor/countdown.js"></script>
                    <script src="/js/vendor/swiper.min.js"></script>
                    <script src="/js/vendor/nice-select.js"></script>
                    <script src="/js/ajax-form.js"></script>
                    <script src="/js/contact.js"></script>
                    <script src="/js/main.js"></script>
    </body>

</html>
