<!DOCTYPE html>
<html class="no-js" lang="en">
    
<!-- Mirrored from html.rrdevs.net/roiser/index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 09 Jun 2024 22:43:53 GMT -->

<!-- Mirrored from clinicafraa.ir/roiser/index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 27 Jun 2024 17:24:42 GMT -->
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">

        <!-- Site Title -->
        <title>قالب فروشگاهی HTML چند منظوره رویسر</title>

        <!-- Place favicon.ico in the root directory -->
        <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">

        <!-- CSS here -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/fontawesome.min.css">
        <link rel="stylesheet" href="/css/venobox.min.css">
        <link rel="stylesheet" href="/css/odometer.min.css">
        <link rel="stylesheet" href="/css/nice-select.css">
        <link rel="stylesheet" href="/css/swiper.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <!-- header-area-start -->
        <header class="header header-2 header-3 mb-0 sticky-active" style="--rr-color-theme-primary: #885B3A">
            <div class="header-top-text">
                <span>20٪ تخفیف برای همه چیز با حداقل. خرج کنید، فروش به پایان می رسد</span>
            </div>
            <div class="top-bar">
                <div class="container rtl">
                    <div class="top-bar-inner">
                        <div class="top-bar-left">
                            <ul class="top-left-list">
                                <li><a href="contact.html">پیگیری سفارش</a></li>
                                <li><a href="#">انگلیسی</a></li>
                                <li><a href="about.html">درباره ما</a></li>
                                <li><a href="contact.html">تماس با ما</a></li>
                                <li><a href="faq.html">سوالات متداول</a></li>
                            </ul>
                        </div>
                        <div class="top-bar-right">
                            <span>24/7 با ما تماس بگیرید: <a href="tel:+258326821485">09127661646</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-middle">
                <div class="container rtl">
                    <div class="header-middle-inner">
                        <div class="header-middle-left">
                            <div class="header-logo d-lg-block">
                                <a href="index.html">
                                    <img src="/img/logo/logo-3.png" alt="Logo">
                                </a>
                            </div>
                            <div class="form-wrap">
                                <div class="nice-select select-control country" tabindex="0">
                                    <span class="current">دسته بندی ها</span>
                                    <ul class="list">
                                        <li data-value="" class="option selected focus">دسته بندی ها</li>
                                        <li data-value="vdt" class="option">فشن</li>
                                        <li data-value="can" class="option">اوگانیک</li>
                                        <li data-value="uk" class="option">مبلمان</li>
                                    </ul>
                                </div>
                                <div class="category-form-wrap">
                                    <form class="header-form" action="https://html.rrdevs.net/roiser/mail.php">
                                        <input class="form-control" type="text" name="search" placeholder="محصولات، دسته‌ها یا برندها را جستجو کنید">
                                        <button class="submit rr-primary-btn"><i class="search-new fa-regular fa-magnifying-glass"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="header-middle-right">
                            <ul class="contact-item-list">
                                <li>
                                    <a href="wishlist.html" class="icon">
                                        <i class="fa-sharp fa-regular fa-heart"></i>
                                    </a>
                                </li>
                                <li><a href="register.html" class="login-btn">ورود / ثبت نام</a></li>
                                <li>
                                    <div class="header-cart-btn">
                                        <a href="cart.html" class="icon">
                                            <i class="fa-light fa-bag-shopping"></i>
                                        </a>
                                        <span>0.00 تومان</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="primary-header">
                <div class="container rtl">
                    <div class="primary-header-inner">
                        <div class="header-logo mobile-logo">
                            <a href="index.html">
                                <img src="/img/logo/logo-3.png" alt="Logo">
                            </a>
                        </div>
                        <div class="header-menu-wrap">
                            <div class="mobile-menu-items">
                                <ul>
                                    <li class="menu-item-has-children active">
                                        <a href="index.html">خانه</a>
                                        <ul>
                                            <li><a href="index.html">دمو مد و پوشاک</a></li>
                                            <li><a href="index-2.html">دمو مواد غذایی</a></li>
                                            <li><a href="index-3.html">دمو مبلمان</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="shop.html">فروشگاه</a>
                                        <ul>
                                            <li><a href="shop.html">فروشگاه اصلی</a></li>
                                            <li><a href="shop-grid.html">فروشگاه گرید</a></li>
                                            <li><a href="shop-details.html">جزئیات فروشگاه</a></li>
                                            <li><a href="cart.html">سبد خرید</a></li>
                                            <li><a href="wishlist.html">لیست علاقه مندی ها</a></li>
                                            <li><a href="checkout.html">صفحه پرداخت</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="shop-grid.html">زنانه</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid.html">مردانه</a>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">صفحات</a>
                                        <ul>
                                            <li><a href="about.html">درباره ما</a></li>
                                            <li><a href="login.html">ورود</a></li>
                                            <li><a href="register.html">عضویت</a></li>
                                            <li><a href="faq.html">سوالات متداول</a></li>
                                            <li><a href="error.html">خطا 404</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="blog-grid.html">بلاگ ها</a>
                                        <ul>
                                            <li><a href="blog-grid.html">بلاگ گرید</a></li>
                                            <li><a href="blog-grid-2.html">بلاگ لیست</a></li>
                                            <li><a href="blog-details.html">جزئیات بلاگ</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">ارتباط با ما</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.header-menu-wrap -->
                        <div class="header-right-wrap">
                            <div class="header-right">
                                <span>کد تخفیف 30 درصدی <span>Roz</span></span>
                                <div class="header-right-item">
                                    <a href="javascript:void(0)" class="mobile-side-menu-toggle"
                                        ><i class="fa-sharp fa-solid fa-bars"></i
                                    ></a>
                                </div>
                            </div>
                            <!-- /.header-right -->
                        </div>
                    </div>
                    <!-- /.primary-header-inner -->
                </div>
            </div>
        </header>
        <!-- /.Main Header -->

        <div id="popup-search-box">
            <div class="box-inner-wrap d-flex align-items-center">
                <form id="form" action="#" method="get" role="search">
                    <input id="popup-search" type="text" name="s" placeholder="Type keywords here...">
                </form>
                <div class="search-close"><i class="fa-sharp fa-regular fa-xmark"></i></div>
            </div>
        </div>
        <!-- /#popup-search-box -->

        <div class="mobile-side-menu" style="--rr-color-theme-primary: #885B3A">
            <div class="side-menu-content">
                <div class="side-menu-head">
                    <a href='index.html'><img src="/img/logo/logo-3.png" alt="logo"></a>
                    <button class="mobile-side-menu-close"><i class="fa-regular fa-xmark"></i></button>
                </div>
                <div class="side-menu-wrap"></div>
                <ul class="side-menu-list">
                    <li><i class="fa-light fa-location-dot"></i>آدرس : <span>کرج، عظیمیه، میدان مهران</span></li>
                    <li><i class="fa-light fa-phone"></i>شماره تماس : <a href="tel:+01569896654">026345879541</a></li>
                    <li><i class="fa-light fa-envelope"></i>آدرس ایمیل : <a href="mailto:info@example.com">info@example.com</a></li>
                </ul>
            </div>
        </div>
        <!-- /.mobile-side-menu -->

        <div id="preloader" style="--rr-color-theme-primary: #885B3A">
            <div class="preloader-close">X</div>
            <div class="sk-three-bounce">
                <div class="sk-child sk-bounce1"></div>
                <div class="sk-child sk-bounce2"></div>
                <div class="sk-child sk-bounce3"></div>
            </div>
        </div>
        <!-- ./ preloader -->

        <section class="hero-section hero-3">
            <div class="container rtl">
                <div class="hero-content-3">
                    <h4 class="sub-title">آیتم آماده</h4>
                    <h2 class="title">دکور خانه</h2>
                    <span class="price">از 299 هزار تومان</span>
                    <a href="shop-grid.html" class="rr-primary-btn primary-2">موارد را کاوش کنید</a>
                </div>
            </div>
            <div class="hero-images">
                <img class="chair" src="/img/images/chair.png" alt="img">
                <div class="shapes">
                    <div class="shape shape-1"><img src="/img/shapes/hero-shape-3.png" alt=""></div>
                    <div class="shape shape-2"><img src="/img/shapes/hero-shape-4.png" alt=""></div>
                </div>
            </div>
        </section>
        <!-- ./ hero-section -->

        <section class="furniture-promo pt-100 pb-100">
            <div class="container rtl">
                <div class="row gy-lg-0 gy-4">
                    <div class="col-lg-6">
                        <div class="promo-item">
                            <div class="promo-content">
                                <h4 class="category">میز اداری بی نظیر</h4>
                                <h3 class="title">30% فروش تخت</h3>
                                <h5 class="code">کد تبلیغاتی آنلاین: <span>N47s</span></h5>
                                <a href="shop-grid.html" class="rr-primary-btn primary-2 promo-btn">شروع به خرید کنید</a>
                                <div class="rr-product-countdown-inner">
                                    <ul>
                                        <li><span data-days="">60</span>روز</li>
                                        <li><span data-hours="">5</span>ساعت</li>
                                        <li><span data-minutes="">21</span>دقیقه</li>
                                        <li><span data-seconds="">41</span>ثانیه</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="promo-img"><img src="/img/images/furniture-1.png" alt="img"></div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="promo-item item-2">
                            <div class="promo-content">
                                <h4 class="category">صندلی راحتی زیبا</h4>
                                <h3 class="title">10% فروش تخت</h3>
                                <h5 class="code"> 20 درصد تخفیف بیشتر</h5>
                                <a href="shop-grid.html" class="rr-primary-btn primary-2 promo-btn">شروع به خرید کنید</a>
                                <div class="rr-product-countdown-inner">
                                    <ul>
                                        <li><span data-days="">60</span>روز</li>
                                        <li><span data-hours="">5</span>ساعت</li>
                                        <li><span data-minutes="">21</span>دقیقه</li>
                                        <li><span data-seconds="">41</span>ثانیه</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="promo-img"><img src="/img/images/furniture-2.png" alt="img"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ./ furniture-promo -->

        <section class="furniture-shop pt-100 pb-100 bg-grey">
            <div class="container rtl">
                <div class="section-heading text-center">
                    <h2 class="section-title">موارد ویژه</h2>
                </div>
                <ul class="project-filter furniture-filter text-center">
                    <li class="active" data-filter="*">نمایش همه</li>
                    <li data-filter=".hot ">موارد داغ</li>
                    <li data-filter=".sell">بهترین فروشندگان</li>
                    <li data-filter=".sale">حراج</li>
                    <li data-filter=".new">تازه رسیده ها</li>
                </ul>
                <div class="filter-items row gy-4">
                    <div class="col-lg-3 col-md-6 single-item sale hot" style="--rr-color-theme-primary: #885B3A">
                        <div class="ft-shop-item">
                            <span class="new">جدید</span>
                            <div class="furniture-img">
                                <img src="/img/product/furniture-1.png" alt="img">
                            </div>
                            <div class="shop-content">
                                <span class="category">میز، دفتر</span>
                                <h3 class="title"><a href="shop-details.html">صندلی انتظار پنبه ای</a></h3>
                                <div class="review-wrap">
                                    <ul class="review">
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                                <span class="price"> <span class="offer">450 تومان</span>257 تومان</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 single-item sell new" style="--rr-color-theme-primary: #885B3A">
                        <div class="ft-shop-item">
                            <span class="new">جدید</span>
                            <div class="furniture-img">
                                <img src="/img/product/furniture-2.png" alt="img">
                            </div>
                            <div class="shop-content">
                                <span class="category">میز، دفتر</span>
                                <h3 class="title"><a href="shop-details.html">هالک وی مینیال تاپ</a></h3>
                                <div class="review-wrap">
                                    <ul class="review">
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                                <span class="price"> <span class="offer">450 تومان</span>257 تومان</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 single-item sale sell" style="--rr-color-theme-primary: #885B3A">
                        <div class="ft-shop-item">
                            <span class="new">جدید</span>
                            <div class="furniture-img">
                                <img src="/img/product/furniture-3.png" alt="img">
                            </div>
                            <div class="shop-content">
                                <span class="category">میز، دفتر</span>
                                <h3 class="title"><a href="shop-details.html">قفسه چوبی</a></h3>
                                <div class="review-wrap">
                                    <ul class="review">
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                                <span class="price"> <span class="offer">450 تومان</span>257 تومان</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 single-item hot sale" style="--rr-color-theme-primary: #885B3A">
                        <div class="ft-shop-item">
                            <span class="new">جدید</span>
                            <div class="furniture-img">
                                <img src="/img/product/furniture-4.png" alt="img">
                            </div>
                            <div class="shop-content">
                                <span class="category">میز، دفتر</span>
                                <h3 class="title"><a href="shop-details.html">خلق و خوی خوب</a></h3>
                                <div class="review-wrap">
                                    <ul class="review">
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                                <span class="price"> <span class="offer">450 تومان</span>257 تومان</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 single-item sale new" style="--rr-color-theme-primary: #885B3A">
                        <div class="ft-shop-item">
                            <span class="new">جدید</span>
                            <div class="furniture-img">
                                <img src="/img/product/furniture-5.png" alt="img">
                            </div>
                            <div class="shop-content">
                                <span class="category">میز، دفتر</span>
                                <h3 class="title"><a href="shop-details.html">صندلی ناهار خوری اتاق</a></h3>
                                <div class="review-wrap">
                                    <ul class="review">
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                                <span class="price"> <span class="offer">450 تومان</span>257 تومان</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 single-item new hot" style="--rr-color-theme-primary: #885B3A">
                        <div class="ft-shop-item">
                            <span class="new">جدید</span>
                            <div class="furniture-img">
                                <img src="/img/product/furniture-6.png" alt="img">
                            </div>
                            <div class="shop-content">
                                <span class="category">میز، دفتر</span>
                                <h3 class="title"><a href="shop-details.html">دفتر میز دموک</a></h3>
                                <div class="review-wrap">
                                    <ul class="review">
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                                <span class="price"> <span class="offer">450 تومان</span>257 تومان</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 single-item sell new" style="--rr-color-theme-primary: #885B3A">
                        <div class="ft-shop-item">
                            <span class="new">جدید</span>
                            <div class="furniture-img">
                                <img src="/img/product/furniture-7.png" alt="img">
                            </div>
                            <div class="shop-content">
                                <span class="category">میز، دفتر</span>
                                <h3 class="title"><a href="shop-details.html">میز شناور منحنی</a></h3>
                                <div class="review-wrap">
                                    <ul class="review">
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                                <span class="price"> <span class="offer">450 تومان</span>257 تومان</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 single-item sale hot" style="--rr-color-theme-primary: #885B3A">
                        <div class="ft-shop-item">
                            <span class="new">جدید</span>
                            <div class="furniture-img">
                                <img src="/img/product/furniture-8.png" alt="img">
                            </div>
                            <div class="shop-content">
                                <span class="category">میز، دفتر</span>
                                <h3 class="title"><a href="shop-details.html">مبل مهمان 4سر</a></h3>
                                <div class="review-wrap">
                                    <ul class="review">
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                                <span class="price"> <span class="offer">450 تومان</span>257 تومان</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ./ furniture-shop -->

        <section class="online-area">
            <div class="bg-img" data-background="/img/bg-img/online-bg.png"></div>
            <div class="container rtl">
                <div class="row">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6">
                        <div class="online-content pt-120 pb-120">
                            <div class="section-heading white-content">
                                <h2 class="section-title">ما فروشنده آنلاین مبلمان هستیم</h2>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                            </div>
                            <div class="online-items">
                                <div class="online-item">
                                    <div class="icon"><img src="/img/icon/online-1.png" alt="icon"></div>
                                    <div class="content">
                                        <h3 class="title">میز مبله ناب</h3>
                                        <p>آشنایی با روش های گاه مضر مدرن <br> کشاورزی، ما یک طاقچه برای کیفیت راه اندازی کردیم</p>
                                    </div>
                                </div>
                                <div class="online-item">
                                    <div class="icon"><img src="/img/icon/online-2.png" alt="icon"></div>
                                    <div class="content">
                                        <h3 class="title">خدمات پشتیبانی 24/7</h3>
                                        <p>آشنایی با روش های گاه مضر مدرن <br> کشاورزی، ما یک طاقچه برای کیفیت راه اندازی کردیم</p>
                                    </div>
                                </div>
                                <div class="online-item">
                                    <div class="icon"><img src="/img/icon/online-3.png" alt="icon"></div>
                                    <div class="content">
                                        <h3 class="title">پیشنهادات و تخفیفات</h3>
                                        <p>آشنایی با روش های گاه مضر مدرن <br> کشاورزی، ما یک طاقچه برای کیفیت راه اندازی کردیم</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ./ online-area -->

        <section class="shop-popular pb-100 pt-100">
            <div class="container rtl">
                <div class="row shop-popular-wrap gy-xl-0 gy-4">
                    <div class="section-heading mb-30 heading-2">
                        <h2 class="section-title">فروشگاه محبوب</h2>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6" style="--rr-color-theme-primary: #885B3A">
                        <div class="ft-shop-item">
                            <span class="new">جدید</span>
                            <div class="furniture-img">
                                <img src="/img/product/furniture-9.png" alt="img">
                            </div>
                            <div class="shop-content">
                                <span class="category">میز، دفتر</span>
                                <h3 class="title"><a href="shop-details.html">صندلی انتظار پنبه ای</a></h3>
                                <div class="review-wrap">
                                    <ul class="review">
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                                <span class="price"> <span class="offer">450 تومان</span>257 تومان</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6" style="--rr-color-theme-primary: #885B3A">
                        <div class="ft-shop-item">
                            <span class="new">جدید</span>
                            <div class="furniture-img">
                                <img src="/img/product/furniture-10.png" alt="img">
                            </div>
                            <div class="shop-content">
                                <span class="category">میز، دفتر</span>
                                <h3 class="title"><a href="shop-details.html">هالک وی مینیال تاپ</a></h3>
                                <div class="review-wrap">
                                    <ul class="review">
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                                <span class="price"> <span class="offer">450 تومان</span>257 تومان</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6" style="--rr-color-theme-primary: #885B3A">
                        <div class="ft-shop-item">
                            <span class="new">جدید</span>
                            <div class="furniture-img">
                                <img src="/img/product/furniture-11.png" alt="img">
                            </div>
                            <div class="shop-content">
                                <span class="category">میز، دفتر</span>
                                <h3 class="title"><a href="shop-details.html">قفسه چوبی</a></h3>
                                <div class="review-wrap">
                                    <ul class="review">
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                                <span class="price"> <span class="offer">450 تومان</span>257 تومان</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6" style="--rr-color-theme-primary: #885B3A">
                        <div class="ft-shop-item">
                            <span class="new">جدید</span>
                            <div class="furniture-img">
                                <img src="/img/product/furniture-12.png" alt="img">
                            </div>
                            <div class="shop-content">
                                <span class="category">میز، دفتر</span>
                                <h3 class="title"><a href="shop-details.html">حال خوب</a></h3>
                                <div class="review-wrap">
                                    <ul class="review">
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                                <span class="price"> <span class="offer">450 تومان</span>257 تومان</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ./ shop-popular -->

        <section class="testimonial-section pt-100 pb-100">
            <div class="container rtl">
                <div class="section-heading white-content text-center">
                    <h2 class="section-title">مشتریان خوشحال</h2>
                </div>
                <div class="testimonial-carousel swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testi-item-wrap">
                                <div class="testi-item">
                                    <div class="testi-top-content">
                                        <h4 class="title">کیفیت محصول</h4>
                                        <ul class="review">
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <p>“این واقعاً اولین تم خریداری شده است که مجبور نبودم برای آن یک خط قصیده بنویسم. من به همه توصیه می کنم“</p>
                                    <div class="shape"><img src="/img/shapes/testi-shape.png" alt="shape"></div>
                                </div>
                                <div class="testi-author">
                                    <img src="/img/images/testi-author.png" alt="img">
                                    <h4 class="name">آلاکسیس دی داوسون <span>رئیس ایده</span></h4>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testi-item-wrap">
                                <div class="testi-item">
                                    <div class="testi-top-content">
                                        <h4 class="title">کار تیمی خوب</h4>
                                        <ul class="review">
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <p>“این واقعاً اولین تم خریداری شده است که مجبور نبودم برای آن یک خط قصیده بنویسم. من به همه توصیه می کنم“</p>
                                    <div class="shape"><img src="/img/shapes/testi-shape.png" alt="shape"></div>
                                </div>
                                <div class="testi-author">
                                    <img src="/img/images/testi-author-2.png" alt="img">
                                    <h4 class="name">جیمز دوپلی <span>مدیر</span></h4>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testi-item-wrap">
                                <div class="testi-item">
                                    <div class="testi-top-content">
                                        <h4 class="title">تحویل سریع</h4>
                                        <ul class="review">
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <p>“این واقعاً اولین تم خریداری شده است که مجبور نبودم برای آن یک خط قصیده بنویسم. من به همه توصیه می کنم“</p>
                                    <div class="shape"><img src="/img/shapes/testi-shape.png" alt="shape"></div>
                                </div>
                                <div class="testi-author">
                                    <img src="/img/images/testi-author-3.png" alt="img">
                                    <h4 class="name">الکساندر هوسپار <span>رئیس ایده</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ./ testimonial-section -->

        <section class="blog-section pt-100 pb-100">
            <div class="container rtl">
                <div class="section-heading text-center">
                    <h2 class="section-title mb-0">آخرین بینش خبری ما</h2>
                </div>
                <div class="row gy-lg-0 gy-4 justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="post-card" style="--rr-color-theme-primary: #885B3A">
                            <div class="post-thumb">
                                <img src="/img/blog/post-4.jpg" alt="post">
                            </div>
                            <div class="post-content-wrap">
                                <div class="post-content">
                                    <ul class="post-meta">
                                        <li><i class="fa-sharp fa-solid fa-calendar-days"></i>3 نظر</li>
                                        <li><i class="fa-regular fa-tag"></i>فشن شو</li>
                                    </ul>
                                    <h3 class="title"><a href="blog-details.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</a></h3>
                                </div>
                                <div class="post-bottom">
                                    <a href="blog-details.html" class="read-more">بیشتر بخوانید<i class="fa-regular fa-arrow-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="post-card" style="--rr-color-theme-primary: #885B3A">
                            <div class="post-thumb">
                                <img src="/img/blog/post-5.jpg" alt="post">
                            </div>
                            <div class="post-content-wrap">
                                <div class="post-content">
                                    <ul class="post-meta">
                                        <li><i class="fa-sharp fa-solid fa-calendar-days"></i>3 نظر</li>
                                        <li><i class="fa-regular fa-tag"></i>فشن شو</li>
                                    </ul>
                                    <h3 class="title"><a href="blog-details.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</a></h3>
                                </div>
                                <div class="post-bottom">
                                    <a href="blog-details.html" class="read-more">بیشتر بخوانید<i class="fa-regular fa-arrow-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="post-card" style="--rr-color-theme-primary: #885B3A">
                            <div class="post-thumb">
                                <img src="/img/blog/post-6.jpg" alt="post">
                            </div>
                            <div class="post-content-wrap">
                                <div class="post-content">
                                    <ul class="post-meta">
                                        <li><i class="fa-sharp fa-solid fa-calendar-days"></i>3 نظر</li>
                                        <li><i class="fa-regular fa-tag"></i>فشن شو</li>
                                    </ul>
                                    <h3 class="title"><a href="blog-details.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</a></h3>
                                </div>
                                <div class="post-bottom">
                                    <a href="blog-details.html" class="read-more">بیشتر بخوانید<i class="fa-regular fa-arrow-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ./ blog-section -->

        <footer class="footer-section bg-grey pt-60" style="--rr-color-theme-primary: #885B3A">
            <div class="container rtl">
                <div class="footer-items">
                    <div class="footer-item">
                        <div class="icon">
                            <img src="/img/icon/footer-1.png" alt="icon">
                        </div>
                        <div class="content">
                            <h4 class="title">ارسال رایگان</h4>
                            <span>ارسال بالای 50 تومان</span>
                        </div>
                    </div>
                    <div class="footer-item">
                        <div class="icon">
                            <img src="/img/icon/footer-2.png" alt="icon">
                        </div>
                        <div class="content">
                            <h4 class="title">گارانتی بازگشت</h4>
                            <span>سیاست بازگشت رایگان 30 روزه</span>
                        </div>
                    </div>
                    <div class="footer-item">
                        <div class="icon">
                            <img src="/img/icon/footer-3.png" alt="icon">
                        </div>
                        <div class="content">
                            <h4 class="title">پرداخت های امن</h4>
                            <span>تمام کارت های اعتباری  را می پذیریم</span>
                        </div>
                    </div>
                    <div class="footer-item item-2">
                        <div class="icon">
                            <img src="/img/icon/footer-4.png" alt="icon">
                        </div>
                        <div class="content">
                            <h4 class="title">خدمات مشتری</h4>
                            <span>خدمات مشتری درجه یک</span>
                        </div>
                    </div>
                </div>
                <div class="row footer-widget-wrap pb-60">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <div class="widget-header">
                                <h3 class="widget-title">درباره فروشگاه</h3>
                            </div>
                            <div class="footer-contact">
                                <div class="icon"><i class="fa-sharp fa-solid fa-phone-rotary"></i></div>
                                <div class="content">
                                    <span>سوالی دارید؟ 24/7 با ما تماس بگیرید</span>
                                    <a href="tel:+25836922569">09127661646</a>
                                </div>
                            </div>
                            <ul class="schedule-list">
                                <li><span>دوشنبه تا جمعه:</span>8:00 صبح تا 6:00 بعد از ظهر</li>
                                <li><span>شنبه:</span>8:00 صبح تا 6:00 بعد از ظهر</li>
                                <li><span>یکشنبه:</span> سرویس بسته</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="footer-widget">
                            <div class="widget-header">
                                <h3 class="widget-title">لینک های سریع</h3>
                            </div>
                            <ul class="footer-list arrow-left">
                                <li><a href="blog-grid.html">داستان ما</a></li>
                                <li><a href="contact.html">مواد ما</a></li>
                                <li><a href="contact.html">پایداری</a></li>
                                <li><a href="contact.html">مشاغل</a></li>
                                <li><a href="contact.html">نقشه سایت</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="footer-widget">
                            <div class="widget-header">
                                <h3 class="widget-title">اطلاعات</h3>
                            </div>
                            <ul class="footer-list arrow-left">
                                <li><a href="contact.html">خدمات سفارشی</a></li>
                                <li><a href="contact.html">پیگیری سفارش</a></li>
                                <li><a href="contact.html">مخاطب</a></li>
                                <li><a href="contact.html">مناسبت ها</a></li>
                                <li><a href="about.html">درباره ما</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="footer-widget">
                            <div class="widget-header">
                                <h3 class="widget-title">پیوندهای اجتماعی</h3>
                            </div>
                            <ul class="footer-list social">
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i>فیس بوک</a></li>
                                <li><a href="#"><i class="fa-light fa-basketball"></i>دریبیل</a></li>
                                <li><a href="#"><i class="fa-brands fa-twitter"></i>توییتر</a></li>
                                <li><a href="#"><i class="fa-brands fa-behance"></i>بیهینس</a></li>
                                <li><a href="#"><i class="fa-brands fa-youtube"></i>یوتوب</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget footer-col-4">
                            <div class="widget-header">
                                <h3 class="widget-title">خبرنامه ما</h3>
                            </div>
                            <div class="news-form-wrap">
                                <p class="mb-20">برای دریافت به‌روزرسانی‌ها از جمله ورودی‌های جدید و سایر تخفیف‌ها، در فهرست پستی مشترک شوید</p>
                                <div class="footer-form mb-20">
                                    <form action="#" class="rr-subscribe-form">
                                        <input class="form-control" type="email" name="email" placeholder="آدرس ایمیل">
                                        <input type="hidden" name="action" value="mailchimpsubscribe">
                                        <button class="submit">عضویت</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                                <p class="mb-0">من می خواهم اخبار و پیشنهاد ویژه را دریافت کنم</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <div class="container">
                    <div class="row copyright-content">
                        <div class="col-lg-6">
                            <div class="footer-img-wrap">
                                <span>سیستم پرداخت:</span>
                                <div class="footer-img"><a href="#"><img src="/img/images/footer-img-1.png" alt="img"></a></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                             <p>تمامی حقوق محفوظ <span>میباشد</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ./ footer-section -->

        <div id="scroll-percentage" style="--rr-color-theme-primary: #885B3A"><span id="scroll-percentage-value"></span></div>
        <!--scrollup-->

        <!-- JS here -->
        <script src="/js/vendor/jquary-3.6.0.min.js"></script>
        <script src="/js/vendor/bootstrap-bundle.js"></script>
        <script src="/js/vendor/imagesloaded-pkgd.js"></script>
        <script src="/js/vendor/waypoints.min.js"></script>
        <script src="/js/vendor/venobox.min.js"></script>
        <script src="/js/vendor/odometer.min.js"></script>
        <script src="/js/vendor/meanmenu.js"></script>
        <script src="/js/vendor/smooth-scroll.js"></script>
        <script src="/js/vendor/jquery.isotope.js"></script>
        <script src="/js/vendor/countdown.js"></script>
        <script src="/js/vendor/wow.min.js"></script>
        <script src="/js/vendor/swiper.min.js"></script>
        <script src="/js/vendor/nice-select.js"></script>
        <script src="/js/ajax-form.js"></script>
        <script src="/js/contact.js"></script>
        <script src="/js/main.js"></script>
    </body>

<!-- Mirrored from html.rrdevs.net/roiser/index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 09 Jun 2024 22:44:04 GMT -->

<!-- Mirrored from clinicafraa.ir/roiser/index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 27 Jun 2024 17:24:47 GMT -->
</html>
